<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dadacoalition.yedit.editor.YEdit"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="yaml"
            id="org.dadacoalition.yedit.editor.YEdit"
            name="YEdit YAML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.dadacoalition.yedit.preferences.YEditPreferences"
            id="org.dadacoalition.yedit.preferences.YEditPreferences"
            name="YEdit YAML Editor Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dadacoalition.yedit.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
