<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dadacoalition.yedit.editor.YEdit"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="yaml"
            id="org.dadacoalition.yedit.editor.YEdit"
            name="YEdit YAML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dadacoalition.yedit.preferences.YEditPreferences"
            class="org.dadacoalition.yedit.preferences.ColorPreferences"
            id="org.dadacoalition.yedit.preferences.ColorPreferences"
            name="Color Preferences">
      </page>
      <page
            class="org.dadacoalition.yedit.preferences.YEditPreferences"
            id="org.dadacoalition.yedit.preferences.YEditPreferences"
            name="YEdit Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dadacoalition.yedit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the YEdit plugin"
            id="org.dadacoalition.yedit.commands.category"
            name="YEdit">
      </category>
      <command
            categoryId="org.dadacoalition.yedit.commands.category"
            description="Turn comments on/off for a selection"
            id="org.dadacoalition.yedit.commands.toggleComment"
            name="Toggle Comment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="YEdit">
            <command
                  commandId="org.dadacoalition.yedit.commands.toggleComment"
                  label="Toggle Comment"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="org.dadacoalition.yedit.editor.YEdit">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.dadacoalition.yedit.handlers.ToggleCommentHandler"
            commandId="org.dadacoalition.yedit.commands.toggleComment">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.dadacoalition.yedit.commands.toggleComment"
            contextId="org.dadacoalition.yedit.yeditScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+C">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.dadacoalition.yedit.yeditScope"
            name="YEdit editor context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>

</plugin>
