<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="sourceViewerConfigurationContribution" name="SourceViewerConfiguration Contribution" schema="schema/sourceViewerConfigurationContribution.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dadacoalition.yedit.editor.YEdit"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="yml,yaml"
            id="org.dadacoalition.yedit.editor.YEdit"
            name="YEdit YAML Editor">
            <contentTypeBinding contentTypeId="org.dadacoalition.yedit.yamlsource" />
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dadacoalition.yedit.preferences.YEditPreferences"
            class="org.dadacoalition.yedit.preferences.ColorPreferences"
            id="org.dadacoalition.yedit.preferences.ColorPreferences"
            name="Color Preferences">
      </page>
      <page
            class="org.dadacoalition.yedit.preferences.YEditPreferences"
            id="org.dadacoalition.yedit.preferences.YEditPreferences"
            name="YEdit Preferences">
      </page>
      <page
            category="org.dadacoalition.yedit.preferences.YEditPreferences"
            class="org.dadacoalition.yedit.preferences.TemplatePreferences"
            id="org.dadacoalition.yedit.preferences.TemplatePreferences"
            name="Templates">
      </page>
      <page
            category="org.dadacoalition.yedit.preferences.YEditPreferences"
            class="org.dadacoalition.yedit.preferences.FormatterPreferencePage"
            id="org.dadacoalition.yedit.preferences.FormatterPreferences"
            name="Formatter preferences">
      </page>
      <page
            category="org.dadacoalition.yedit.preferences.YEditPreferences"
            class="org.dadacoalition.yedit.preferences.TaskTagPreferencePage"
            id="org.dadacoalition.yedit.preferences.TaskTagPreferences"
            name="Task Tag Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dadacoalition.yedit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the YEdit plugin"
            id="org.dadacoalition.yedit.commands.category"
            name="YEdit">
      </category>
      <command
            categoryId="org.dadacoalition.yedit.commands.category"
            description="Turn comments on/off for a selection"
            id="org.dadacoalition.yedit.commands.toggleComment"
            name="Toggle Comment">
      </command>
      <command
            description="Toggle if the outline should be collapse or not"
            id="org.dadacoalition.yedit.commands.toggleCollapse"
            name="Toggle Collapse">
      </command>
      <command
            categoryId="org.dadacoalition.yedit.commands.category"
            description="Format the document according to format preferences"
            id="org.dadacoalition.yedit.command.formatDocument"
            name="Format">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="YEdit">
            <command
                  commandId="org.dadacoalition.yedit.commands.toggleComment"
                  label="Toggle Comment"
                  style="push">
            </command>
            <command
                  commandId="org.dadacoalition.yedit.command.formatDocument"
                  label="Format"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="org.dadacoalition.yedit.editor.YEdit">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.views.ContentOutline?after=additions">
         <command
               commandId="org.dadacoalition.yedit.commands.toggleCollapse"
               label="Toggle collapse"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.dadacoalition.yedit.editor.YEdit">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.dadacoalition.yedit.handlers.ToggleCommentHandler"
            commandId="org.dadacoalition.yedit.commands.toggleComment">
      </handler>
      <handler
            class="org.dadacoalition.yedit.handlers.ToggleCollapseHandler"
            commandId="org.dadacoalition.yedit.commands.toggleCollapse">
      </handler>
      <handler
            class="org.dadacoalition.yedit.handlers.FormatDocumentHandler"
            commandId="org.dadacoalition.yedit.command.formatDocument">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.dadacoalition.yedit.commands.toggleComment"
            contextId="org.dadacoalition.yedit.yeditScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+C">
      </key>
      <key
            commandId="org.dadacoalition.yedit.commands.toggleComment"
            contextId="org.dadacoalition.yedit.yeditScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="org.dadacoalition.yedit.command.formatDocument"
            contextId="org.dadacoalition.yedit.yeditScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.dadacoalition.yedit.yeditScope"
            name="YEdit editor context"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.dadacoalition.yedit.template.YAMLContentType"
            id="org.dadacoalition.yedit.template.yaml"
            name="YAML Context">
      </contextType>
   </extension>
   
	<extension
		point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="yml,yaml"
			id="yamlsource"
			name="Yaml Content Type"
			priority="high">
		</content-type>
	</extension>
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
    <target
          id="org.dadacoalition.yedit.yamlsource"
          name="Yaml Editor">
       <context
             type="org.eclipse.ui.texteditor.ITextEditor">
       </context>
    </target>
 </extension>
   

</plugin>
